& {
    &_wrapper {
        margin: auto;
        max-width: px(1140);
        padding: px(100) px(0) px(85);

        img {
            width: px(48);
        }
    }

    &_caption {
        font: 700 px(36) 'Quattrocento Sans', sans-serif;
        border-left: px(10) solid #e1e6ea;
    }

    &_content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_items {
        margin-top: px(93);
        padding-left: px(5);
        padding-right: px(5);
        width: 21%;
        text-align: center;
        font-size: px(16);
        color: #8d8f92;

        &-name {
            font: 700 px(17) 'Quattrocento Sans', sans-serif;
            color: #292f36;
            margin: px(35) px(0) px(28);
            text-transform: uppercase;
        }
    }
}
